<h1>New User</h1>

<%= form_for @user do |f| %>

  <p>
    <%=f.label :username %>
    <%=f.text_field :username%>
  </p>

  <p>
    <%= f.password_field :password %>
    <%= f.password_field :password_confirmation %>
  </p>

  <p>
    <%= f.submit %>
  </p>

<% end %>
